.first-container {
    background: lightblue url("/img/img_tree.gif") no-repeat fixed center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 132px;
}

.home {
    display: flex;
    padding: 90px 33%;
    margin-top: 400px;
    text-align: center;
}

button {
    margin-right: 5px;
    width: 200px;
    color: black;
    background-color: turquoise;
    font-size: 15px;
    font-style: italic;
}