    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background-color: rgb(158, 0, 137);
        background: lightblue url("/img/img_tree.gif") no-repeat fixed center;
    }
    
    .main {
        width: 90%;
        height: auto;
        margin: 50px;
    }
    
    .okay {
        width: 50%;
    }
    
    .okay img {
        width: 60%;
    }
    
    .okay h1 {
        width: 60%;
        margin: auto;
    }
    
    .details {
        width: 100%;
        display: flex;
        font-size: 28px;
        color: palevioletred;
        justify-content: center;
    }
    
    .okay.okay1 {
        height: 325px;
        width: auto;
    }
    
    h1.okay {
        text-align: center;
        margin-top: 103px;
    }
    
    @media only screen and (max-width: 600px) {
        .details {
            display: block;
        }
        .okay {
            /* height: 150px; */
            width: auto;
            /* margin-top: 80%; */
        }
        .okay1 {
            height: 300px;
            width: auto;
            margin-top: -1%;
        }
    }
    
    .mountain {
        padding-left: 234px;
    }
    
    .city {
        width: auto;
        height: 307px;
        float: left;
        margin-right: 2%;
    }
    
    .second-container {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 2%;
    }
    
    .paris p {
        margin-top: 30px;
        font-size: 17px;
    }
    
    .third-container {
        margin-top: 50px;
        text-align: center;
    }
    
    .third-container p {
        font-size: 19px;
    }
    
    table,
    td,
    th {
        border: 2px solid black;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 19px;
    }
    
    .places {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        grid-gap: 2%;
    }
    
    .pic {
        width: auto;
        height: 200px;
        float: right;
        margin-left: 2%;
    }
    
    @media only screen and (max-width: 868px) {
        .places {
            display: grid;
            grid-template-columns: 100%;
            grid-gap: 2%;
        }
        .pic1 {
            width: auto;
            height: 200px;
            float: left;
            margin-right: 2%;
        }
    }